* {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.contenitoreHederESotto {
  background: #ffc017;
  display: block;
  border-bottom: 1px solid #242424;
}
.contenitoreHederESotto header {
  width: 100%;
  border-bottom: 1px solid #242424;
  z-index: 9999;
  position: fixed;
  top: 0;
  transition: background-color 0.5s ease;
}
.coloreHeader {
  background-color: #ffc017;
}
.contenutoHeader {
  justify-content: center;
  display: flex;
}
.dimensioni {
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.container {
  display: flex;
  height: 75px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.container > div {
  display: block;
}
.container nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.container nav ul li {
  display: inline-block;
  margin-right: 25px;
  font-size: 14px;
  line-height: 30px;
  color: #242424;
  cursor: pointer;
  text-decoration: none;
}
.container nav ul li a {
  text-decoration: none;
  color: #242424;
}
#getStarted {
  border-radius: 40px;
  font-size: 14px;
  padding: 10px;
  background-color: #242424;
  color: white;
  cursor: pointer;
}
/* inizoo contenuto sotto header  */
.inlineBlock {
  display: block;
  margin-top: 30px;
}
.contenutoPrimo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.prova2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 100%;
}
.contenutoTestoSottoHeader {
  width: 720px;
  height: 100%;
  padding: 56px;
}
.contenutoTestoSottoHeader > h1 {
  font-size: 100px;
  font-weight: 600;
}
.contenutoTestoSottoHeader p {
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: bold;
}
.contenutoTestoSottoHeader button {
  border-radius: 40px;
  font-size: 16px;
  padding: 10px;
  width: 144px;
  background-color: #242424;
  color: white;
  cursor: pointer;
}
.prova {
  height: 100%;
  width: 12%;
}
/* trending */
.containerGeneraleTrending {
  padding: 50px 328px;
  border: 1px solid #80808054;
}
.dimensioniFullTrending {
  width: 100%;
  height: 100%;
}
.allineamentoTitolo {
  display: flex;
  align-items: center;
}
.dimensioniFullTrending img {
  border-radius: 50px;
  margin-right: 10px;
}
.dimensioniFullTrending h2 {
  font-weight: bold;
  font-size: 14px;
}
.dimensioniFullTrending h2 span {
  color: gray;
}
.variTrending {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}
.totalTrending {
  display: flex;
  width: 33%;
  margin-top: 10px;
}
.totalTrending h1 {
  margin-right: 15px;
  font-size: 22px;
  color: gray;
}
.logoUtente {
  display: flex;
  align-items: center;
}
.logoUtente img {
  height: 24px;
  width: 24px;
}
.contenutoTrending h3,
.contenutoTrending h4 {
  margin-top: 10px;
}
.contenutoTrending h3 {
  font-weight: bold;
  width: 310px;
}
.contenutoTrending h4 {
  color: gray;
  display: flex;
  align-items: center;
}
.contenutoTrending h4 img {
  margin-left: 3px;
}
/* inizio sotto la parte quella bella  */
.restoPagina {
  /* background-color: aquamarine; */
  padding-top: 56px;
  display: block;
}
.dimensionirestoPagina {
  /* background-color: blueviolet; */
  display: flex;
  justify-content: center;
}
.dimensioniii {
  /* background-color: #ffc017; */
  max-width: 1192px;
  min-width: 0px;
  margin: 0 64px;
}
.racchiudeSezioni {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(8, 1fr) repeat(4, minmax(48px, 1fr));
}
.articoliScroll {
  grid-row-start: 1;
  grid-column: 1 / span 7;
}
section {
  display: block;
  unicode-bidi: isolate;
  margin-bottom: 100px;
  /* background-color: steelblue; */
}
.logoUtenteScroll {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.logoUtenteScroll img {
  border-radius: 40px;
  width: 22px;
  height: 22px;
  margin-right: 5px;
}
.otherText h2 {
  font-weight: bold;
  margin-bottom: 7px;
}
.otherText h3 {
  color: rgb(75, 75, 75);
  margin-bottom: 7px;
}
.otherContainer {
  display: flex;
  justify-content: space-between;
}
.h4 {
  display: flex;
  align-items: center;
}
.otherText div h4 {
  color: rgb(75, 75, 75);
}
.otherText div img {
  margin-left: 10px;
}
.otherText div h4 span {
  background-color: rgba(151, 151, 151, 0.233);
  padding: 5px;
  border-radius: 40px;
}
.articoliStile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 15px;
  width: 100%;
}
.immgineutenteeeee {
  height: auto;
  width: 175px;
  margin-left: 5px;
}
.utenteImmagine {
  width: 100%;
}
/* aside*/
aside {
  /* background-color: chocolate; */
  display: block;
  unicode-bidi: isolate;
  grid-column: 9 / span 4;
  grid-row-start: 1;
}
aside h1 {
  font-weight: bold;
}
.bottoniiii button {
  padding: 8px;
  margin-bottom: 7px;
  border-radius: 6px;
  cursor: pointer;
  border-color: #80808054;
  color: #808080;
}
.bottoniiii {
  padding: 10px 0px 10px;
  border-bottom: 1px solid gray;
}
.lista span {
  list-style: none;
  cursor: pointer;
  margin-right: 15px;
  line-height: 25px;
}
.lista {
  padding: 20px 0px 0px;
}
/* extra js cambio colore header */
.headerScuro {
  background-color: #ffffff; /*cambia colore allo scroolllll*/
}
